<TMPL_INCLUDE NAME="mob_header.tmpl">

<TMPL_VAR NAME="page_data" ESCAPE='0'>
<!-- モバイル浮瑚茶烫 穆逻交碉脱浮瑚茶烫 -->
<form method="get" action="<TMPL_VAR NAME="script_name" ESCAPE='0'>">

交疥: <br />
<input type="text" name="apart_address" maxlength="50" /><br />
呵大必¨<br />
<input type="text" name="apart_station" maxlength="50" /><br />
湿凤硷侍: <br />
<input type="checkbox" name="apart_kind" value="1" />アパ〖ト<br />
<input type="checkbox" name="apart_kind" value="2" />マンション<br />
<input type="checkbox" name="apart_kind" value="3" />办竿氟て<br />
<input type="checkbox" name="apart_kind" value="4" />テラスハウス<br />
穆瘟: <br />
<select name="apart_price_1">
<option label="布嘎なし" value="0" selected="selected">布嘎なし
<option label="3.0 它边" value="3.0">3.0 它边
<option label="4.0 它边" value="4.0">4.0 它边
<option label="5.0 它边" value="5.0">5.0 它边
<option label="6.0 它边" value="6.0">6.0 它边
<option label="7.0 它边" value="7.0">7.0 它边
<option label="8.0 它边" value="8.0">8.0 它边
<option label="9.0 它边" value="9.0">9.0 它边
<option label="10 它边" value="10">10 它边
<option label="11 它边" value="11">11 它边
<option label="12 它边" value="12">12 它边
<option label="13 它边" value="13">13 它边
<option label="14 它边" value="14">14 它边
<option label="15 它边" value="15">15 它边
<option label="16 它边" value="16">16 它边
<option label="17 它边" value="17">17 它边
<option label="18 它边" value="18">18 它边
<option label="19 它边" value="19">19 它边
<option label="20 它边" value="20">20 它边
<option label="30 它边" value="30">30 它边
<option label="50 它边" value="50">50 它边
<option label="100 它边" value="100">100 它边
</select>
から<br />
<select name="apart_price_2">
<option label="3.0 它边" value="3.0">3.0 它边
<option label="4.0 它边" value="4.0">4.0 它边
<option label="5.0 它边" value="5.0">5.0 它边
<option label="6.0 它边" value="6.0">6.0 它边
<option label="7.0 它边" value="7.0">7.0 它边
<option label="8.0 它边" value="8.0">8.0 它边
<option label="9.0 它边" value="9.0">9.0 它边
<option label="10 它边" value="10">10 它边
<option label="11 它边" value="11">11 它边
<option label="12 它边" value="12">12 它边
<option label="13 它边" value="13">13 它边
<option label="14 它边" value="14">14 它边
<option label="15 它边" value="15">15 它边
<option label="16 它边" value="16">16 它边
<option label="17 它边" value="17">17 它边
<option label="18 它边" value="18">18 它边
<option label="19 它边" value="19">19 它边
<option label="20 它边" value="20">20 它边
<option label="30 它边" value="30">30 它边
<option label="50 它边" value="50">50 它边
<option label="100 它边" value="100">100 它边
<option label="惧嘎なし" value="0" selected="selected">惧嘎なし
</select>
まで<br />
<input type="checkbox" name="include_k_k" value="1" id="include_k_k" />鼎弊锐ˇ瓷妄锐を崔む<br />


<input type="checkbox" name="apart_no_reikin" value="1" id="apart_no_reikin" />伍垛なし<br />
<input type="checkbox" name="apart_no_sikikin" value="1" id="apart_no_sikikin" />蛇垛なし<br />

粗艰り: <br />
<input type="checkbox" name="apart_madori" value="1R" />ワンル〖ム<br />
<input type="checkbox" name="apart_madori" value="1K" />1K<br />
<input type="checkbox" name="apart_madori" value="1DK" />1DK<br />
<input type="checkbox" name="apart_madori" value="1LDK" />1LDK<br />
<input type="checkbox" name="apart_madori" value="2K" />2K<br />
<input type="checkbox" name="apart_madori" value="2DK" />2DK<br />
<input type="checkbox" name="apart_madori" value="2LDK" />2LDK<br />
<input type="checkbox" name="apart_madori" value="3K" />3K<br />
<input type="checkbox" name="apart_madori" value="3DK" />3DK<br />
<input type="checkbox" name="apart_madori" value="3LDK" />3LDK<br />
<input type="checkbox" name="apart_madori" value="4K" />4K<br />
<input type="checkbox" name="apart_madori" value="4DK" />4DK<br />
<input type="checkbox" name="apart_madori" value="4LDK+" />4LDK笆惧<br />
<br />
<input type="hidden" name="sort_by" value=""  />
<input type="hidden" name="_mode" value="mode_search"  />
<input type="hidden" name="_type" value="rl"  />
<input type="submit" name="search_object" value="浮瑚する" class="submit" />
</form>

<TMPL_INCLUDE NAME="mob_footer.tmpl">
