<TMPL_INCLUDE NAME="mob_header.tmpl">
<!-- モバイル検索画面 メイン-->
1.<a href="<TMPL_VAR NAME='script_name' ESCAPE='1'>?_mode=mode_search&_type=rl" accesskey="1">賃貸住居用検索</a><br />
2.<a href="<TMPL_VAR NAME='script_name' ESCAPE='1'>?_mode=mode_search&_type=rb" accesskey="2">賃貸事業用検索</a><br />
3.<a href="<TMPL_VAR NAME='script_name' ESCAPE='1'>?_mode=mode_search&_type=bl" accesskey="3">売買土地検索</a><br />
4.<a href="<TMPL_VAR NAME='script_name' ESCAPE='1'>?_mode=mode_search&_type=bm" accesskey="4">売買マンション検索</a><br />
5.<a href="<TMPL_VAR NAME='script_name' ESCAPE='1'>?_mode=mode_search&_type=bh" accesskey="5">売買一戸建て検索</a><br />
6.<a href="<TMPL_VAR NAME='script_name' ESCAPE='1'>?_mode=mode_search&_type=bb" accesskey="6">売買投資用検索</a><br />
<TMPL_INCLUDE NAME="mob_footer.tmpl">