<TMPL_INCLUDE NAME="mob_header.tmpl">
売買物件&nbsp;::&nbsp;土地詳細<br /><br />
<TMPL_VAR NAME="page_data" ESCAPE='0'>
<TMPL_IF NAME="result_count">
<form method="get" action="<TMPL_VAR NAME='script_name' ESCAPE='0'>?_mode=mode_inquiry&_type=bl" >
<TMPL_LOOP NAME='main_loop'>
<TMPL_IF NAME="ONLY_ONE"><TMPL_ELSE>
<tr>
<td colspan="6" align="right">
<label><input name="_object_id" value="<TMPL_VAR NAME="LAND_ID" ESCAPE='0'>" type="checkbox" />&nbsp;この物件を選択&nbsp;▽&nbsp;</label></td>
</tr>
</TMPL_IF>
物件番号:BL<TMPL_VAR NAME="LAND_ID" ESCAPE='1'><br />
<TMPL_IF NAME="LAND_ADS_TEXT"><TMPL_VAR NAME="LAND_ADS_TEXT"><br /></TMPL_IF>
所在地:<TMPL_VAR NAME="LAND_LOCATION" ESCAPE='1'><br />
価格:<TMPL_VAR NAME="LAND_PRICE" ESCAPE='1'>万円<br />
<TMPL_IF NAME="LAND_TUBOTANKA">坪単価:<TMPL_VAR NAME="LAND_TUBOTANKA" ESCAPE='1'>円<br /></TMPL_IF>
最寄駅:<TMPL_VAR NAME="LAND_STATION_1" ESCAPE='1'><br />
<TMPL_IF NAME="LAND_BUS_MINUTES_1">バス<TMPL_VAR NAME="LAND_BUS_MINUTES_1" ESCAPE='1'>分<br /></TMPL_IF>
<TMPL_IF NAME="LAND_BUSWALK_MINUTES_1">停歩<TMPL_VAR NAME="LAND_BUSWALK_MINUTES_1" ESCAPE='1'>分<br /></TMPL_IF>
<TMPL_IF NAME="LAND_WALK_MINUTES_1">徒歩<TMPL_VAR NAME="LAND_WALK_MINUTES_1" ESCAPE='1'>分<br /></TMPL_IF>
<TMPL_IF NAME="LAND_STATION_2"><TMPL_VAR NAME="LAND_STATION_2" ESCAPE='1'><br />
<TMPL_IF NAME="LAND_BUS_MINUTES_2">バス<TMPL_VAR NAME="LAND_BUS_MINUTES_2" ESCAPE='1'>分<br /></TMPL_IF>
<TMPL_IF NAME="LAND_BUSWALK_MINUTES_2">停歩<TMPL_VAR NAME="LAND_BUSWALK_MINUTES_2" ESCAPE='1'>分<br /></TMPL_IF>
<TMPL_IF NAME="LAND_WALK_MINUTES_2">徒歩<TMPL_VAR NAME="LAND_WALK_MINUTES_2" ESCAPE='1'>分<br /></TMPL_IF>
</TMPL_IF>
面積:<TMPL_IF NAME="LAND_SQUARE_M"><TMPL_VAR NAME="LAND_SQUARE_M" ESCAPE='1'>平米<TMPL_IF NAME="LAND_SQUARE_TEXT">&nbsp;(<TMPL_VAR NAME="LAND_SQUARE_TEXT" ESCAPE='1'>)</TMPL_IF></TMPL_IF>&nbsp;<TMPL_IF NAME="LAND_SQUARE_T"><TMPL_VAR NAME="LAND_SQUARE_T" ESCAPE='1'>坪</TMPL_IF><br />
<TMPL_IF NAME="LAND_SETUDOU">接道:<TMPL_VAR NAME="LAND_SETUDOU" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="LAND_KENRI">土地権利:<TMPL_VAR NAME="LAND_KENRI" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="LAND_SETBACK">セットバック:<TMPL_VAR NAME="LAND_SETBACK" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="LAND_SIDOUFUTAN_SQUARE">私道負担面積:<TMPL_VAR NAME="LAND_SIDOUFUTAN_SQUARE">平米<br /></TMPL_IF>
<TMPL_IF NAME="LAND_TORIHIKITAIYOU">取引態様:<TMPL_VAR NAME="LAND_TORIHIKITAIYOU"><br /></TMPL_IF>
<TMPL_IF NAME="LAND_TIMOKU">地目:<TMPL_VAR NAME="LAND_TIMOKU" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="LAND_KENPEIRITU">建蔽率:<TMPL_VAR NAME="LAND_KENPEIRITU">%<br /></TMPL_IF>
<TMPL_IF NAME="LAND_TISEI">地勢:<TMPL_VAR NAME="LAND_TISEI" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="LAND_YOUSEKIRITU">容積率:<TMPL_VAR NAME="LAND_YOUSEKIRITU">%<br /></TMPL_IF>
<TMPL_IF NAME="LAND_YOUTOTIIKI">用途地域:<TMPL_VAR NAME="LAND_YOUTOTIIKI" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="LAND_TOSIKEIKAKU">都市計画:<TMPL_VAR NAME="LAND_TOSIKEIKAKU"><br /></TMPL_IF>
<TMPL_IF NAME="LAND_HIKIWATASI">引渡し:<TMPL_VAR NAME="LAND_HIKIWATASI" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="LAND_KOKUDOHOUTODOKEDE">国土省届出:<TMPL_VAR NAME="LAND_KOKUDOHOUTODOKEDE"><br /></TMPL_IF>
<TMPL_IF NAME="LAND_GENKYOU">現況:<TMPL_VAR NAME="LAND_GENKYOU" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="LAND_JYOUKEN">条件等:<TMPL_VAR NAME="LAND_JYOUKEN" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="LAND_OPTIONS_KAKUTI">角地:●<br /></TMPL_IF>
<TMPL_IF NAME="LAND_SETUBI">設備:<TMPL_VAR NAME="LAND_SETUBI" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="LAND_OPTIONS_GUS">ガス:<TMPL_VAR NAME="LAND_OPTIONS_GUS"><br /></TMPL_IF>
<TMPL_IF NAME="LAND_OPTIONS_SUIDOU">水道:<TMPL_VAR NAME="LAND_OPTIONS_SUIDOU"><br /></TMPL_IF>
<TMPL_IF NAME="LAND_OPTIONS_HAISUI">汚水:<TMPL_VAR NAME="LAND_OPTIONS_HAISUI"><br /></TMPL_IF>
<TMPL_IF NAME="LAND_OPTIONS_OSUI">雑排水:<TMPL_VAR NAME="LAND_OPTIONS_OSUI"><br /></TMPL_IF>
<TMPL_IF NAME="LAND_BIKOU">備考:<TMPL_VAR NAME="LAND_BIKOU" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="LAND_LAST_UPDATED">最終更新日:<TMPL_VAR NAME="LAND_LAST_UPDATED" ESCAPE='1'><TMPL_ELSE>最終更新日:<TMPL_VAR NAME="LAND_CREATED" ESCAPE='1'></TMPL_IF>
<br />
<TMPL_IF NAME="LAND_PICS_OUTSIDE_THUMB"><a href="<TMPL_VAR NAME="LAND_PICS_OUTSIDE_THUMB" ESCAPE='1'>">写真1</a><br /></TMPL_IF>
<TMPL_IF NAME="LAND_PICS_INSIDE_THUMB"><a href="<TMPL_VAR NAME="LAND_PICS_INSIDE_THUMB" ESCAPE='1'>">写真2</a><br /></TMPL_IF>
<TMPL_IF NAME="LAND_PICS_TIZU_THUMB"><a href="<TMPL_VAR NAME="LAND_PICS_TIZU_THUMB" ESCAPE='1'>">地図</a><br /></TMPL_IF>
取扱会社：<TMPL_VAR NAME="LAND_COMPANY_NAME" ESCAPE='1'><br />
免許番号：<TMPL_VAR NAME="LAND_COMPANY_LICENSE" ESCAPE='1'><br />
住所:<TMPL_VAR NAME="LAND_COMPANY_ADDRESS" ESCAPE='1'><br />
電話番号：<TMPL_VAR NAME="LAND_COMPANY_TEL" ESCAPE='1'><br />
<br />
</TMPL_LOOP>
<TMPL_IF NAME="result_one">
<TMPL_IF NAME="aid">
<input type="hidden" name="_mode" value="mode_inquiry" />
<input type="hidden" name="_type" value="<TMPL_VAR NAME="_type" ESCAPE='1'>" />
<input name="_object_id" value="<TMPL_VAR NAME="aid" ESCAPE='0'>" type="hidden" />
<input value="お問い合わせ" type="submit" />
</TMPL_IF>
<TMPL_ELSE>
<input value="選択した物件について一括してお問い合わせ" onclick="formInquiry()" type="submit" />
</TMPL_IF>
</form>
<TMPL_ELSE>
<p>物件が選択されていないか、既に削除された、または問題があり表示できません。</p>
</TMPL_IF>
<TMPL_INCLUDE NAME="mob_footer.tmpl">
