<TMPL_INCLUDE NAME="mob_header.tmpl">
<a href="<TMPL_VAR NAME='script_name' ESCAPE='0'>?_mode=mode_search&_type=rb">賃貸事業用検索</a>&nbsp;::&nbsp;詳細表示<br /><br />
<TMPL_VAR NAME="page_data" ESCAPE='0'>
<TMPL_IF NAME="result_count">
<form method="get" action="<TMPL_VAR NAME='script_name' ESCAPE='0'>?_mode=mode_inquiry&_type=rb" >
<TMPL_LOOP NAME='main_loop'>
物件番号:RB<TMPL_VAR NAME="BUSINESS_ID" ESCAPE='1'><TMPL_IF NAME="BUSINESS_ADS_TEXT"><TMPL_VAR NAME="BUSINESS_ADS_TEXT"></TMPL_IF><br />
<TMPL_IF NAME="BUSINESS_KIND">物件種別:<TMPL_VAR NAME="BUSINESS_KIND" ESCAPE='1'><br /></TMPL_IF>
所在地:<TMPL_VAR NAME="BUSINESS_LOCATION" ESCAPE='1'><br />
賃料:<TMPL_VAR NAME="BUSINESS_PRICE" ESCAPE='1'>円<br />
敷金:<TMPL_IF NAME="BUSINESS_PRICE_SIKIKIN"><TMPL_VAR NAME="BUSINESS_PRICE_SIKIKIN" ESCAPE='1'><TMPL_VAR NAME="BUSINESS_PRICE_SIKIKIN_UNIT" ESCAPE='1'><TMPL_ELSE>--</TMPL_IF><br />
<TMPL_IF NAME="BUSINESS_PRICE_REIKIN">礼金:<TMPL_VAR NAME="BUSINESS_PRICE_REIKIN" ESCAPE='1'><TMPL_VAR NAME="BUSINESS_PRICE_REIKIN_UNIT" ESCAPE='1'><br /></TMPL_IF>
階建・階:<TMPL_IF NAME="BUSINESS_STORY"><TMPL_VAR NAME="BUSINESS_STORY" ESCAPE='1'>階建<TMPL_ELSE>--</TMPL_IF>・<TMPL_IF NAME="BUSINESS_FLOOR"><TMPL_VAR NAME="BUSINESS_FLOOR" ESCAPE='1'>階<TMPL_ELSE>--</TMPL_IF><br />
交通:<TMPL_VAR NAME="BUSINESS_STATION_1" ESCAPE='1'><br />
<TMPL_IF NAME="BUSINESS_BUS_MINUTES_1">バス<TMPL_VAR NAME="BUSINESS_BUS_MINUTES_1" ESCAPE='1'>分<br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_BUSWALK_MINUTES_1">停歩<TMPL_VAR NAME="BUSINESS_BUSWALK_MINUTES_1" ESCAPE='1'>分<br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_WALK_MINUTES_1">徒歩<TMPL_VAR NAME="BUSINESS_WALK_MINUTES_1" ESCAPE='1'>分<br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_STATION_2"><TMPL_VAR NAME="BUSINESS_STATION_2" ESCAPE='1'>
<TMPL_IF NAME="BUSINESS_BUS_MINUTES_2">バス<TMPL_VAR NAME="BUSINESS_BUS_MINUTES_2" ESCAPE='1'>分<br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_BUSWALK_MINUTES_2">停歩<TMPL_VAR NAME="BUSINESS_BUSWALK_MINUTES_2" ESCAPE='1'>分<br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_WALK_MINUTES_2">徒歩<TMPL_VAR NAME="BUSINESS_WALK_MINUTES_2" ESCAPE='1'>分<br /></TMPL_IF>
</TMPL_IF>
<TMPL_IF NAME="BUSINESS_PRICE_KANRIHI">管理費等:<TMPL_VAR NAME="BUSINESS_PRICE_KANRIHI" ESCAPE='1'>円<br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_BUILDING_STRUCTURE">建物構造:<TMPL_VAR NAME="BUSINESS_BUILDING_STRUCTURE" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_SENYUU_SQUARE">専有面積:<TMPL_VAR NAME="BUSINESS_SENYUU_SQUARE" ESCAPE='1'>平米<br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_TOTI_SQUARE">土地面積:<TMPL_VAR NAME="BUSINESS_TOTI_SQUARE" ESCAPE='1'>平米<br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_PRICE_HOSYOUKIN">保証金:<TMPL_VAR NAME="BUSINESS_PRICE_HOSYOUKIN" ESCAPE='1'>円<br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_PRICE_SYOUKYAKU">償却:<TMPL_VAR NAME="BUSINESS_PRICE_SYOUKYAKU" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_PRICE_SIKIBIKI">敷引<TMPL_VAR NAME="BUSINESS_PRICE_SIKIBIKI" ESCAPE='1'>円<br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_AGE">築年月:<TMPL_VAR NAME="BUSINESS_AGE" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_SETUBI">その他設備:<TMPL_VAR NAME="BUSINESS_SETUBI"><br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_TORIHIKITAIYOU">取引態様:<TMPL_VAR NAME="BUSINESS_TORIHIKITAIYOU"><br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_CONDITION">条件等:<TMPL_VAR NAME="BUSINESS_CONDITION" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_PRICE_OTHER">他一時金:<TMPL_VAR NAME="BUSINESS_PRICE_OTHER" ESCAPE='1'>ヶ月<br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_INSURANCE">保険:<TMPL_VAR NAME="BUSINESS_INSURANCE" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_OPTIONS_PARKING">駐車場:●<br /></TMPL_IF>
<br />
<TMPL_IF NAME="BUSINESS_PICS_OUTSIDE">
<a href="<TMPL_VAR NAME="BUSINESS_PICS_OUTSIDE_THUMB" ESCAPE='1'>">外観写真</a><br />
</TMPL_IF>
<TMPL_IF NAME="BUSINESS_PICS_INSIDE">
<a href="<TMPL_VAR NAME="BUSINESS_PICS_INSIDE_THUMB" ESCAPE='1'>">内観写真</a><br />
</TMPL_IF>
<TMPL_IF NAME="BUSINESS_PICS_MADORIZU">
<a href="<TMPL_VAR NAME="BUSINESS_PICS_MADORIZU_THUMB" ESCAPE='1'>">間取図</a><br />
</TMPL_IF>
<TMPL_IF NAME="BUSINESS_PICS_TIZU">
<a href="<TMPL_VAR NAME="BUSINESS_PICS_TIZU_THUMB" ESCAPE='1'>">地図</a><br />
</TMPL_IF>
取扱い会社：<TMPL_VAR NAME="BUSINESS_COMPANY_NAME" ESCAPE='1'><br />
免許番号：<TMPL_VAR NAME="BUSINESS_COMPANY_LICENSE" ESCAPE='1'><br />
住所:<TMPL_VAR NAME="BUSINESS_COMPANY_ADDRESS" ESCAPE='1'><br />
電話番号：<TMPL_VAR NAME="BUSINESS_COMPANY_TEL" ESCAPE='1'><br />
</TMPL_LOOP>
<br />
<TMPL_IF NAME="result_one">
<TMPL_IF NAME="aid">
<input type="hidden" name="_mode" value="mode_inquiry" />
<input type="hidden" name="_type" value="<TMPL_VAR NAME="_type" ESCAPE='1'>" />
<input name="_object_id" value="<TMPL_VAR NAME="aid" ESCAPE='0'>" type="hidden" />
<input value="お問い合わせ" onclick="formInquiry()" type="submit" /></TMPL_IF>
<TMPL_ELSE>
<input value="選択した物件について一括してお問い合わせ" onclick="formInquiry()" type="submit" />
</TMPL_IF>
</form>
<br />
<TMPL_ELSE>
<p>物件が選択されていないか、既に削除された、または問題があり表示できません。</p>
</TMPL_IF>
<TMPL_INCLUDE NAME="mob_footer.tmpl">
