<TMPL_INCLUDE NAME="mob_header.tmpl">
売買物件&nbsp;::&nbsp;事業用詳細表示<br /><br />
<TMPL_VAR NAME="page_data" ESCAPE='0'>
<TMPL_IF NAME="result_count">
<form method="get" action="<TMPL_VAR NAME='script_name' ESCAPE='0'>?_mode=mode_inquiry&_type=bb" >
<TMPL_LOOP NAME='main_loop'>

物件番号:BB<TMPL_VAR NAME="BUSINESS_ID" ESCAPE='1'><br />
<TMPL_IF NAME="BUSINESS_ADS_TEXT"><TMPL_VAR NAME="BUSINESS_ADS_TEXT"><br /></TMPL_IF>
所在地:<TMPL_VAR NAME="BUSINESS_LOCATION" ESCAPE='1'><br />
<TMPL_IF NAME="BUSINESS_KIND">物件種別:<TMPL_VAR NAME="BUSINESS_KIND" ESCAPE='1'><TMPL_IF NAME="BUSINESS_KIND_DETAIL"> (<TMPL_VAR NAME="BUSINESS_KIND_DETAIL" ESCAPE='1'>)</TMPL_IF><br /></TMPL_IF>
価格:<TMPL_VAR NAME="BUSINESS_PRICE" ESCAPE='1'>万円<TMPL_IF NAME="BUSINESS_PRICE_TAX_INC">&nbsp;(税込み)</TMPL_IF><br />
<TMPL_IF NAME="BUSINESS_PRICE_KANRIHI">管理費等:<TMPL_VAR NAME="BUSINESS_PRICE_KANRIHI" ESCAPE='1'>円（月）<br /></TMPL_IF>
階建・階:<TMPL_IF NAME="BUSINESS_STORY"><TMPL_VAR NAME="BUSINESS_STORY" ESCAPE='1'>階建<TMPL_ELSE>--</TMPL_IF>・<TMPL_IF NAME="BUSINESS_FLOOR"><TMPL_VAR NAME="BUSINESS_FLOOR" ESCAPE='1'>階<TMPL_ELSE>--</TMPL_IF><br />
交通:<TMPL_VAR NAME="BUSINESS_STATION_1" ESCAPE='1'> <TMPL_IF NAME="BUSINESS_BUS_MINUTES_1">バス<TMPL_VAR NAME="BUSINESS_BUS_MINUTES_1" ESCAPE='1'>分<TMPL_ELSE>--</TMPL_IF><TMPL_IF NAME="BUSINESS_BUSWALK_MINUTES_1">(停歩<TMPL_VAR NAME="BUSINESS_BUSWALK_MINUTES_1" ESCAPE='1'>分)</TMPL_IF>・<TMPL_IF NAME="BUSINESS_WALK_MINUTES_1">徒歩<TMPL_VAR NAME="BUSINESS_WALK_MINUTES_1" ESCAPE='1'>分<TMPL_ELSE>--</TMPL_IF>
<TMPL_IF NAME="BUSINESS_STATION_2"><br /><TMPL_VAR NAME="BUSINESS_STATION_2" ESCAPE='1'> <TMPL_IF NAME="BUSINESS_BUS_MINUTES_2">バス<TMPL_VAR NAME="BUSINESS_BUS_MINUTES_2" ESCAPE='1'>分<TMPL_ELSE>--</TMPL_IF><TMPL_IF NAME="BUSINESS_BUSWALK_MINUTES_2">(停歩<TMPL_VAR NAME="BUSINESS_BUSWALK_MINUTES_2" ESCAPE='1'>分)</TMPL_IF>・<TMPL_IF NAME="BUSINESS_WALK_MINUTES_2">徒歩<TMPL_VAR NAME="BUSINESS_WALK_MINUTES_2" ESCAPE='1'>分<TMPL_ELSE>--</TMPL_IF><br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_KENRI">権利:<TMPL_VAR NAME="BUSINESS_KENRI" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_SQUARE">専有面積:<TMPL_VAR NAME="BUSINESS_SQUARE" ESCAPE='1'>平米 		<TMPL_IF NAME="BUSINESS_SQUARE_TEXT">(<TMPL_VAR NAME="BUSINESS_SQUARE_TEXT" ESCAPE='1'>)</TMPL_IF><br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_SQUARE_TUBO"><TMPL_VAR NAME="BUSINESS_SQUARE_TUBO" ESCAPE='1'>坪<br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_SYUUZENTUMITATEKIN">修繕積立金:<TMPL_VAR NAME="BUSINESS_SYUUZENTUMITATEKIN" ESCAPE='1'>円（月）<br /></TMPL_IF>




<TMPL_IF NAME="BUSINESS_KENPEIRITU">建蔽率:<TMPL_VAR NAME="BUSINESS_KENPEIRITU" ESCAPE='1'>%<br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_YOUSEKIRITU">容積率:<TMPL_VAR NAME="BUSINESS_YOUSEKIRITU" ESCAPE='1'>%<br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_TATEMONO_SQUARE">建物面積:<TMPL_VAR NAME="BUSINESS_TATEMONO_SQUARE" ESCAPE='1'>平米<br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_MOCHIBUN_SQUARE">持分敷地面積:<TMPL_VAR NAME="BUSINESS_MOCHIBUN_SQUARE" ESCAPE='1'>平米<br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_SOU_SQUARE">総敷地面積:<TMPL_VAR NAME="BUSINESS_SOU_SQUARE" ESCAPE='1'>平米<br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_SIDOUFUTAN_SQUARE">私道負担面積:<TMPL_VAR NAME="BUSINESS_SIDOUFUTAN_SQUARE" ESCAPE='1'>平米<br /></TMPL_IF>


<TMPL_IF NAME="BUSINESS_MADORI_DETAIL">間取り:<TMPL_VAR NAME="BUSINESS_MADORI_DETAIL" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_TORIHIKITAIYOU">取引態様:<TMPL_VAR NAME="BUSINESS_TORIHIKITAIYOU"><br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_BUILDING_STRUCTURE">建物構造:<TMPL_VAR NAME="BUSINESS_BUILDING_STRUCTURE" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_SOUKOSUU">総戸数:<TMPL_VAR NAME="BUSINESS_SOUKOSUU" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_AGE">築年月:<TMPL_VAR NAME="BUSINESS_AGE" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_CHUSYAJYOU">駐車場:<TMPL_VAR NAME="BUSINESS_CHUSYAJYOU" ESCAPE='1'>台<br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_YOUTOTIIKI">用途地域:<TMPL_VAR NAME="BUSINESS_YOUTOTIIKI" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_TOSIKEIKAKU">都市計画:<TMPL_VAR NAME="BUSINESS_TOSIKEIKAKU" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_KOKUDOHOUTODOKEDE">国土法届出:<TMPL_VAR NAME="BUSINESS_KOKUDOHOUTODOKEDE" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_HIKIWATASI">引渡し:<TMPL_VAR NAME="BUSINESS_HIKIWATASI" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_GENKYOU">現況:<TMPL_VAR NAME="BUSINESS_GENKYOU" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_OPTIONS_PARKING">駐車場:●<br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_SETUBI">設備:<TMPL_VAR NAME="BUSINESS_SETUBI" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_JYOUKEN">条件等:<TMPL_VAR NAME="BUSINESS_JYOUKEN" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_BIKOU">備考:<TMPL_VAR NAME="BUSINESS_BIKOU" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_PICS_OUTSIDE"><a href="<TMPL_VAR NAME="BUSINESS_PICS_OUTSIDE_THUMB" ESCAPE='1'>">写真1</a><br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_PICS_INSIDE"><a href="<TMPL_VAR NAME="BUSINESS_PICS_INSIDE_THUMB" ESCAPE='1'>">写真2</a><br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_PICS_MADORIZU"><a href="<TMPL_VAR NAME="BUSINESS_PICS_MADORIZU_THUMB" ESCAPE='1'>">間取図</a><br /></TMPL_IF>
<TMPL_IF NAME="BUSINESS_PICS_TIZU"><a href="<TMPL_VAR NAME="BUSINESS_PICS_TIZU_THUMB" ESCAPE='1'>">地図</a><br /></TMPL_IF>
取扱会社：<TMPL_VAR NAME="BUSINESS_COMPANY_NAME" ESCAPE='1'><br />
免許番号：<TMPL_VAR NAME="BUSINESS_COMPANY_LICENSE" ESCAPE='1'><br />
住所:<TMPL_VAR NAME="BUSINESS_COMPANY_ADDRESS" ESCAPE='1'><br />
電話番号：<TMPL_VAR NAME="BUSINESS_COMPANY_TEL" ESCAPE='1'><br />
<br />
</TMPL_LOOP>
<TMPL_IF NAME="result_one">
<TMPL_IF NAME="aid">
<input type="hidden" name="_mode" value="mode_inquiry" />
<input type="hidden" name="_type" value="<TMPL_VAR NAME="_type" ESCAPE='1'>" />
<input name="_object_id" value="<TMPL_VAR NAME="aid" ESCAPE='0'>" type="hidden" />
<input value="お問い合わせ" type="submit" />
</TMPL_IF>
<TMPL_ELSE>
<input value="選択した物件について一括してお問い合わせ" onclick="formInquiry()" type="submit" />
</TMPL_IF>
</form>
<br />
<TMPL_ELSE>
<p>物件が選択されていないか、既に削除された、または問題があり表示できません。</p>
</TMPL_IF>
<TMPL_INCLUDE NAME="mob_footer.tmpl">
