<TMPL_INCLUDE NAME="mob_header.tmpl">
<a href="<TMPL_VAR NAME='script_name' ESCAPE='0'>?_mode=mode_search&_type=rl">賃貸住居用検索</a>&nbsp;::&nbsp;詳細表示<br /><br />
<TMPL_VAR NAME="page_data" ESCAPE='0'>
<TMPL_IF NAME="result_count">
<form method="get" action="<TMPL_VAR NAME='script_name' ESCAPE='0'>" >
<TMPL_LOOP NAME='main_loop'>
物件番号:RL<TMPL_VAR NAME="APART_ID" ESCAPE='1'><br />
<TMPL_IF NAME="APART_ADS_TEXT"><TMPL_VAR NAME="APART_ADS_TEXT"><br /></TMPL_IF>
物件種別:<TMPL_IF NAME="APART_KIND"><TMPL_VAR NAME="APART_KIND" ESCAPE='1'><TMPL_ELSE>--</TMPL_IF><br />
賃料:<TMPL_VAR NAME="APART_PRICE" ESCAPE='1'>円<br />
物件所在地:<TMPL_VAR NAME="APART_LOCATION" ESCAPE='1'><br />
最寄駅1:<TMPL_VAR NAME="APART_STATION_1" ESCAPE='1'><br />
徒歩:<TMPL_IF NAME="APART_WALK_MINUTES_1"><TMPL_VAR NAME="APART_WALK_MINUTES_1" ESCAPE='1'>分<TMPL_ELSE>--</TMPL_IF><br />
バス停:<TMPL_IF NAME="APART_BUS_1"><TMPL_VAR NAME="APART_BUS_1" ESCAPE='1'><TMPL_ELSE>--</TMPL_IF><br />
停歩:<TMPL_IF NAME="APART_BUSWALK_MINUTES_1"><TMPL_VAR NAME="APART_BUSWALK_MINUTES_1" ESCAPE='1'>分<TMPL_ELSE>--</TMPL_IF><br />
バス:<TMPL_IF NAME="APART_BUS_MINUTES_1"><TMPL_VAR NAME="APART_BUS_MINUTES_1" ESCAPE='1'>分<TMPL_ELSE>--</TMPL_IF><br />
<TMPL_IF NAME="APART_STATION_2">
最寄駅2:<TMPL_VAR NAME="APART_STATION_2" ESCAPE='1'><br />
徒歩:<TMPL_IF NAME="APART_WALK_MINUTES_2"><TMPL_VAR NAME="APART_WALK_MINUTES_2" ESCAPE='1'>分<TMPL_ELSE>--</TMPL_IF><br />
バス停:<TMPL_IF NAME="APART_BUS_2"><TMPL_VAR NAME="APART_BUS_2" ESCAPE='1'><TMPL_ELSE>--</TMPL_IF><br />
停歩:<TMPL_IF NAME="APART_BUSWALK_MINUTES_2"><TMPL_VAR NAME="APART_BUSWALK_MINUTES_2" ESCAPE='1'>分<TMPL_ELSE>--</TMPL_IF><br />
バス:<TMPL_IF NAME="APART_BUS_MINUTES_2"><TMPL_VAR NAME="APART_BUS_MINUTES_2" ESCAPE='1'>分<TMPL_ELSE>--</TMPL_IF><br />
</TMPL_IF>
敷金:<TMPL_IF NAME="APART_PRICE_SIKIKIN"><TMPL_VAR NAME="APART_PRICE_SIKIKIN" ESCAPE='1'><TMPL_VAR NAME="APART_PRICE_SIKIKIN_UNIT" ESCAPE='1'><TMPL_ELSE>--</TMPL_IF><br />
礼金:<TMPL_IF NAME="APART_PRICE_REIKIN"><TMPL_VAR NAME="APART_PRICE_REIKIN" ESCAPE='1'><TMPL_VAR NAME="APART_PRICE_REIKIN_UNIT" ESCAPE='1'><TMPL_ELSE>--</TMPL_IF><br />
<TMPL_IF NAME="APART_PRICE_KANRIHI">管理費等:<TMPL_VAR NAME="APART_PRICE_KANRIHI" ESCAPE='1'>円<br /></TMPL_IF>
<TMPL_IF NAME="APART_PRICE_HOSYOUKIN">保証金:<TMPL_VAR NAME="APART_PRICE_HOSYOUKIN" ESCAPE='1'>円<br /></TMPL_IF>
<TMPL_IF NAME="APART_PRICE_SIKIBIKI">敷引:<TMPL_VAR NAME="APART_PRICE_SIKIBIKI" ESCAPE='1'>円<br /></TMPL_IF>
<TMPL_IF NAME="APART_PRICE_OTHER">他一時金:<TMPL_VAR NAME="APART_PRICE_OTHER" ESCAPE='1'>ヶ月<br /></TMPL_IF>
階建・階:<TMPL_IF NAME="APART_STORY"><TMPL_VAR NAME="APART_STORY" ESCAPE='1'>階建<TMPL_ELSE>--</TMPL_IF>・<TMPL_IF NAME="APART_FLOOR"><TMPL_VAR NAME="APART_FLOOR" ESCAPE='1'>階<TMPL_ELSE>--</TMPL_IF><br />
間取り:<TMPL_IF NAME="APART_MADORI"><TMPL_VAR NAME="APART_MADORI" ESCAPE='1'><TMPL_ELSE>--</TMPL_IF><br />
<TMPL_IF NAME="APART_MADORI_DETAIL">間取り内訳:<TMPL_VAR NAME="APART_MADORI_DETAIL" ESCAPE='1'><br /></TMPL_IF>
建物構造:<TMPL_IF NAME="APART_BUILDING_STRUCTURE"><TMPL_VAR NAME="APART_BUILDING_STRUCTURE" ESCAPE='1'><TMPL_ELSE>--</TMPL_IF><br />
面積:<TMPL_IF NAME="APART_SQUARE"><TMPL_VAR NAME="APART_SQUARE" ESCAPE='1'>平米<TMPL_ELSE>--</TMPL_IF><br />
築年月:<TMPL_IF NAME="APART_AGE"><TMPL_VAR NAME="APART_AGE" ESCAPE='1'><TMPL_ELSE>--</TMPL_IF><br />
取引態様:<TMPL_IF NAME="APART_TORIHIKITAIYOU"><TMPL_VAR NAME="APART_TORIHIKITAIYOU"><TMPL_ELSE>&nbsp;</TMPL_IF><br />
保険:<TMPL_IF NAME="APART_INSURANCE"><TMPL_VAR NAME="APART_INSURANCE" ESCAPE='1'><TMPL_ELSE>--</TMPL_IF><br />
条件等:<TMPL_IF NAME="APART_CONDITION"><TMPL_VAR NAME="APART_CONDITION" ESCAPE='1'><TMPL_ELSE>--</TMPL_IF><br />
他設備:<TMPL_IF NAME="APART_SETUBI"><TMPL_VAR NAME="APART_SETUBI" ESCAPE='1'><TMPL_ELSE>&nbsp;</TMPL_IF><br />
<TMPL_IF NAME="APART_DAIGAKU_LIST">近隣大学:<TMPL_VAR NAME="APART_DAIGAKU_LIST" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="APART_SHOUGAKKOUKU">小学校:<TMPL_VAR NAME="APART_SHOUGAKKOUKU" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="APART_CYUUGAKKOUKU">中学校:<TMPL_VAR NAME="APART_CYUUGAKKOUKU" ESCAPE='1'><br /></TMPL_IF>
オプション:
<ul>
<TMPL_IF NAME="APART_OPTIONS_AUTOLOCK"><li>オートロック<br /></TMPL_IF>
<TMPL_IF NAME="APART_OPTIONS_ELEVATOR"><li>エレベーター<br /></TMPL_IF>
<TMPL_IF NAME="APART_OPTIONS_MINAMI"><li>南向き<br /></TMPL_IF>
<TMPL_IF NAME="APART_OPTIONS_BATHTOILET"><li>バストイレ別<br /></TMPL_IF>
<TMPL_IF NAME="APART_OPTIONS_AIRCON"><li>エアコン<br /></TMPL_IF>
<TMPL_IF NAME="APART_OPTIONS_TVPHONE"><li>TVフォン<br /></TMPL_IF>
<TMPL_IF NAME="APART_OPTIONS_OITAKI"><li>追い炊き<br /></TMPL_IF>
<TMPL_IF NAME="APART_OPTIONS_GASCONRO"><li>ガスコンロ<br /></TMPL_IF>
<TMPL_IF NAME="APART_OPTIONS_LOFT"><li>ロフト付き<br /></TMPL_IF>
<TMPL_IF NAME="APART_OPTIONS_JIMUSYOKA"><li>事務所可<br /></TMPL_IF>
<TMPL_IF NAME="APART_OPTIONS_FLOORING"><li>フローリング<br /></TMPL_IF>
<TMPL_IF NAME="APART_OPTIONS_PARKING"><li>駐車場<br /></TMPL_IF>
<TMPL_IF NAME="APART_OPTIONS_SITUNAISENTAKUKI"><li>室内洗濯機置場<br /></TMPL_IF>
<TMPL_IF NAME="APART_OPTIONS_PET"><li>ペット相談<br /></TMPL_IF>
<TMPL_IF NAME="APART_OPTIONS_CS"><li>CS<br /></TMPL_IF>
<TMPL_IF NAME="APART_OPTIONS_CATV"><li>CATV<br /></TMPL_IF>
<TMPL_IF NAME="APART_OPTIONS_BS"><li>BS<br /></TMPL_IF>
<TMPL_IF NAME="APART_OPTIONS_INSTRUMENT"><li>楽器相談<br /></TMPL_IF>
<TMPL_IF NAME="APART_OPTIONS_KAKUBEYA"><li>角部屋<br /></TMPL_IF>
<TMPL_IF NAME="APART_OPTIONS_HOSYOUNIN"><li>保証人不要システム<br /></TMPL_IF>
</ul>
<TMPL_IF NAME="APART_BIKOU">備考:<TMPL_VAR NAME="APART_BIKOU" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="APART_NYUUKYOJIKI">入居時期:<TMPL_VAR NAME="APART_NYUUKYOJIKI" ESCAPE='1'><br /></TMPL_IF>
最終更新日:<TMPL_IF NAME="APART_LAST_UPDATED"><TMPL_VAR NAME="APART_LAST_UPDATED" ESCAPE='1'><TMPL_ELSE><TMPL_VAR NAME="APART_CREATED" ESCAPE='1'></TMPL_IF><br />
<TMPL_IF NAME="APART_PICS_OUTSIDE_THUMB"><a href="<TMPL_VAR NAME="APART_PICS_OUTSIDE_THUMB" ESCAPE='1'>" >外観写真</a><br /><TMPL_ELSE></TMPL_IF>
<TMPL_IF NAME="APART_PICS_INSIDE_THUMB"><a href="<TMPL_VAR NAME="APART_PICS_INSIDE_THUMB" ESCAPE='1'>" >内観写真</a><br /><TMPL_ELSE></TMPL_IF>
<TMPL_IF NAME="APART_PICS_MADORIZU_THUMB"><a href="<TMPL_VAR NAME="APART_PICS_MADORIZU_THUMB" ESCAPE='1'>" >間取図</a><br /><TMPL_ELSE></TMPL_IF>
<TMPL_IF NAME="APART_PICS_TIZU_THUMB"><a href="<TMPL_VAR NAME="APART_PICS_TIZU_THUMB" ESCAPE='1'>" >地図</a><br /><TMPL_ELSE></TMPL_IF>
取扱会社：<TMPL_VAR NAME="APART_COMPANY_NAME" ESCAPE='1'><br />
免許番号：<TMPL_VAR NAME="APART_COMPANY_LICENSE" ESCAPE='1'><br />
住所:<TMPL_VAR NAME="APART_COMPANY_ADDRESS" ESCAPE='1'><br />
電話番号：<TMPL_VAR NAME="APART_COMPANY_TEL" ESCAPE='1'><br />
</TMPL_LOOP>
<br />
<TMPL_IF NAME="result_one">
<TMPL_IF NAME="aid">
<input type="hidden" name="_mode" value="mode_inquiry" />
<input type="hidden" name="_type" value="<TMPL_VAR NAME="_type" ESCAPE='1'>" />
<input name="_object_id" value="<TMPL_VAR NAME="aid" ESCAPE='0'>" type="hidden" />
<input value="お問い合わせ" type="submit" /></TMPL_IF>
<TMPL_ELSE>
<input value="お問い合わせ" type="submit" />
</TMPL_IF>
</form>
<TMPL_ELSE>
<p>物件が選択されていないか、既に削除された、または問題があり表示できません。</p>
</TMPL_IF>
<TMPL_INCLUDE NAME="mob_footer.tmpl">
