<TMPL_INCLUDE NAME="mob_header.tmpl">

売買物件&nbsp;::&nbsp;一戸建て詳細表示<br /><br />
<TMPL_VAR NAME="page_data" ESCAPE='0'>

<TMPL_IF NAME="result_count">

<form method="get" action="<TMPL_VAR NAME='script_name' ESCAPE='0'>?_mode=mode_inquiry&_type=bh" >

<TMPL_LOOP NAME='main_loop'>
物件番号:BH<TMPL_VAR NAME="HOUSE_ID" ESCAPE='1'><br />
<TMPL_IF NAME="HOUSE_ADS_TEXT"><TMPL_VAR NAME="HOUSE_ADS_TEXT"><br /></TMPL_IF>
価格:<TMPL_VAR NAME="HOUSE_PRICE" ESCAPE='1'>万円<TMPL_IF NAME="HOUSE_PRICE_TAX_INC">&nbsp;(税込み)</TMPL_IF><br />
所在地:<TMPL_VAR NAME="HOUSE_LOCATION" ESCAPE='1'><br />
交通:<TMPL_VAR NAME="HOUSE_STATION_1" ESCAPE='1'>&nbsp;<br />
<TMPL_IF NAME="HOUSE_BUS_MINUTES_1">バス<TMPL_VAR NAME="HOUSE_BUS_MINUTES_1" ESCAPE='1'>分<TMPL_IF NAME="HOUSE_BUSWALK_MINUTES_1">(停歩<TMPL_VAR NAME="HOUSE_BUSWALK_MINUTES_1" ESCAPE='1'>分)</TMPL_IF><TMPL_ELSE>--</TMPL_IF>・<TMPL_IF NAME="HOUSE_WALK_MINUTES_1">徒歩<TMPL_VAR NAME="HOUSE_WALK_MINUTES_1" ESCAPE='1'>分<TMPL_ELSE>--</TMPL_IF>
<TMPL_IF NAME="HOUSE_STATION_2"><br /><TMPL_VAR NAME="HOUSE_STATION_2" ESCAPE='1'>&nbsp;<br />
<TMPL_IF NAME="HOUSE_BUS_MINUTES_2">バス<TMPL_VAR NAME="HOUSE_BUS_MINUTES_2" ESCAPE='1'>分<TMPL_IF NAME="HOUSE_BUSWALK_MINUTES_2">(停歩<TMPL_VAR NAME="HOUSE_BUSWALK_MINUTES_2" ESCAPE='1'>分)</TMPL_IF><TMPL_ELSE>--</TMPL_IF>・<TMPL_IF NAME="HOUSE_WALK_MINUTES_2">徒歩<TMPL_VAR NAME="HOUSE_WALK_MINUTES_2" ESCAPE='1'>分<TMPL_ELSE>--</TMPL_IF>
</TMPL_IF><br />
土地面積:<TMPL_IF NAME="HOUSE_TOTI_SQUARE"><TMPL_VAR NAME="HOUSE_TOTI_SQUARE" ESCAPE='1'>平米<TMPL_IF NAME="HOUSE_TOTI_SQUARE_TEXT">(<TMPL_VAR NAME="HOUSE_TOTI_SQUARE_TEXT" ESCAPE='1'>)</TMPL_IF></TMPL_IF><TMPL_IF NAME="HOUSE_TOTI_SQUARE_TUBO">&nbsp;<TMPL_VAR NAME="HOUSE_TOTI_SQUARE_TUBO" ESCAPE='1'>坪</TMPL_IF><br />
<TMPL_IF NAME="HOUSE_BUILDING_SQUARE">建物面積:<TMPL_VAR NAME="HOUSE_BUILDING_SQUARE" ESCAPE='1'>平米<br /></TMPL_IF>
<TMPL_IF NAME="HOUSE_BUILDING_STRUCTURE">建物構造:<TMPL_VAR NAME="HOUSE_BUILDING_STRUCTURE" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="HOUSE_MADORI">間取り:<TMPL_VAR NAME="HOUSE_MADORI" ESCAPE='1'><TMPL_IF NAME="HOUSE_MADORI_DETAIL">(<TMPL_VAR NAME="HOUSE_MADORI_DETAIL" ESCAPE='1'>)</TMPL_IF><TMPL_ELSE>--</TMPL_IF><br />
<TMPL_IF NAME="HOUSE_SETBACK">セットバック:<TMPL_VAR NAME="HOUSE_SETBACK" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="HOUSE_SETUDOUJYOUKYOU">接道状況:<TMPL_VAR NAME="HOUSE_SETUDOUJYOUKYOU" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="HOUSE_SIDOUFUTAN_SQUARE">私道負担面積:<TMPL_VAR NAME="HOUSE_SIDOUFUTAN_SQUARE" ESCAPE='1'>&sup2;m<br /></TMPL_IF>
<TMPL_IF NAME="HOUSE_SYAKUTIRYOU">借地料:<TMPL_VAR NAME="HOUSE_SYAKUTIRYOU" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="HOUSE_SYAKUTIKIKAN">借地期間:<TMPL_VAR NAME="HOUSE_SYAKUTIKIKAN" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="HOUSE_TOTIKENRI">土地権利:<TMPL_VAR NAME="HOUSE_TOTIKENRI" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="HOUSE_AGE">築年月:<TMPL_VAR NAME="HOUSE_AGE" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="HOUSE_CHUSYAJYOU">駐車場:<TMPL_VAR NAME="HOUSE_CHUSYAJYOU" ESCAPE='1'>台<br /></TMPL_IF>
<TMPL_IF NAME="HOUSE_OPTIONS_SINTIKU">新築:●<br /></TMPL_IF>
<TMPL_IF NAME="HOUSE_OPTIONS_BARIAFURI">バリアフリー:●<br /></TMPL_IF>
<TMPL_IF NAME="HOUSE_OPTIONS_TOSIGASU">都市ガス:●<br /></TMPL_IF>
<TMPL_IF NAME="HOUSE_OPTIONS_PARKING">駐車場:●<br /></TMPL_IF>
<TMPL_IF NAME="HOUSE_OPTIONS_TVPHONE">TVフォン:●</TMPL_IF>
<TMPL_IF NAME="HOUSE_OPTIONS_SHOWERTOILETE">シャワートイレ:●<br /></TMPL_IF>
<TMPL_IF NAME="HOUSE_OPTIONS_SYSTEM_KITCHIN">システムキッチン:●<br /></TMPL_IF>
<TMPL_IF NAME="HOUSE_OPTIONS_WALKIN_CLOSET">ウォークイン クローゼット:●<br /></TMPL_IF>
<TMPL_IF NAME="HOUSE_OPTIONS_YUKASITA_SYUUNOU">床下収:●<br /></TMPL_IF>
<TMPL_IF NAME="HOUSE_OPTIONS_YUKADANBOU">床暖房:●<br /></TMPL_IF>
<TMPL_IF NAME="HOUSE_SETUBI">設備:<TMPL_VAR NAME="HOUSE_SETUBI" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="HOUSE_YOUTOTIIKI">用途地域:<TMPL_VAR NAME="HOUSE_YOUTOTIIKI" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="HOUSE_HIKIWATASI">引渡し:<TMPL_VAR NAME="HOUSE_HIKIWATASI" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="HOUSE_TIMOKU">地目:<TMPL_VAR NAME="HOUSE_TIMOKU" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="HOUSE_GENKYOU">現況:<TMPL_VAR NAME="HOUSE_GENKYOU" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="HOUSE_TISEI">地勢:<TMPL_VAR NAME="HOUSE_TISEI" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="HOUSE_KENPEIRITU">建蔽率:<TMPL_VAR NAME="HOUSE_KENPEIRITU" ESCAPE='1'>%<br /></TMPL_IF>
<TMPL_IF NAME="HOUSE_YOUSEKIRITU">容積率:<TMPL_VAR NAME="HOUSE_YOUSEKIRITU" ESCAPE='1'>%<br /></TMPL_IF>
<TMPL_IF NAME="HOUSE_TOSIKEIKAKU">都市計画:<TMPL_VAR NAME="HOUSE_TOSIKEIKAKU" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="HOUSE_KOKUDOHOUTODOKEDE">国土省届出:<TMPL_VAR NAME="HOUSE_KOKUDOHOUTODOKEDE" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="HOUSE_TORIHIKITAIYOU">取引態様:<TMPL_VAR NAME="HOUSE_TORIHIKITAIYOU"><br /></TMPL_IF>
<TMPL_IF NAME="HOUSE_JYOUKEN">条件等:<TMPL_VAR NAME="HOUSE_JYOUKEN" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="HOUSE_BIKOU">備考:<TMPL_VAR NAME="HOUSE_BIKOU" ESCAPE='1'><br /></TMPL_IF>
<TMPL_IF NAME="HOUSE_LAST_UPDATED">最終更新日:<TMPL_VAR NAME="HOUSE_LAST_UPDATED" ESCAPE='1'><TMPL_ELSE><TMPL_VAR NAME="HOUSE_CREATED" ESCAPE='1'></TMPL_IF><br />
<TMPL_IF NAME="HOUSE_PICS_OUTSIDE"><a href="<TMPL_VAR NAME="HOUSE_PICS_OUTSIDE_THUMB" ESCAPE='1'>">外観写真</a><br /></TMPL_IF>
<TMPL_IF NAME="HOUSE_PICS_INSIDE"><a href="<TMPL_VAR NAME="HOUSE_PICS_INSIDE_THUMB" ESCAPE='1'>">内観写真</a><br /></TMPL_IF>
<TMPL_IF NAME="HOUSE_PICS_MADORIZU"><a href="<TMPL_VAR NAME="HOUSE_PICS_MADORIZU_THUMB" ESCAPE='1'>">間取図</a><br /></TMPL_IF>
<TMPL_IF NAME="HOUSE_PICS_TIZU"><a href="<TMPL_VAR NAME="HOUSE_PICS_TIZU_THUMB" ESCAPE='1'>">地図</a><br /></TMPL_IF>
取扱会社：<TMPL_VAR NAME="HOUSE_COMPANY_NAME" ESCAPE='1'><br />
免許番号：<TMPL_VAR NAME="HOUSE_COMPANY_LICENSE" ESCAPE='1'><br />
住所:<TMPL_VAR NAME="HOUSE_COMPANY_ADDRESS" ESCAPE='1'><br />
電話番号：<TMPL_VAR NAME="HOUSE_COMPANY_TEL" ESCAPE='1'><br />
<br />
</TMPL_LOOP>

<TMPL_IF NAME="result_one">
<TMPL_IF NAME="aid">
<input type="hidden" name="_mode" value="mode_inquiry" />
<input type="hidden" name="_type" value="<TMPL_VAR NAME="_type" ESCAPE='1'>" />
<input name="_object_id" value="<TMPL_VAR NAME="aid" ESCAPE='0'>" type="hidden" />
<input value="お問い合わせ" type="submit" />
</TMPL_IF>
<TMPL_ELSE>
<input value="選択した物件について一括してお問い合わせ" onclick="formInquiry()" type="submit" />
</TMPL_IF>
</form>
<TMPL_ELSE>
    <p>物件が選択されていないか、既に削除された、または問題があり表示できません。</p>
</TMPL_IF>

<TMPL_INCLUDE NAME="mob_footer.tmpl">
