<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=<TMPL_VAR NAME='page_charset' ESCAPE='1'>" />
        <meta http-equiv="Cache-Control" content="no-cache" />
        <title>モバイル不動産物件検索</title>
    </head>
<body>
    <a name="top"></a>
    <center>
        <a href="<TMPL_VAR NAME='script_name' ESCAPE='1'>">モバイル不動産物件検索</a><br />
    </center>
<hr />
