<TMPL_INCLUDE NAME="mob_header.tmpl">

<TMPL_VAR NAME="page_data" ESCAPE='0'>

<!-- モバイル浮瑚茶烫 卿倾マンション浮瑚茶烫 -->

<form method="get" action="<TMPL_VAR NAME="script_name" ESCAPE='0'>">

交疥: <br />
<input type="text" name="mansion_address" maxlength="50" /><br />
呵大り必: <br />
<input type="text" name="mansion_station" maxlength="50" /><br />
擦呈: <br />

<select name="mansion_price_1">
    <option label="布嘎なし" value="0" selected="selected">布嘎なし<option label="500 它边" value="500">500 它边<option label="1000 它边" value="1000">1000 它边<option label="1500 它边" value="1500">1500 它边<option label="2000 它边" value="2000">2000 它边<option label="2500 它边" value="2500">2500 它边<option label="3000 它边" value="3000">3000 它边<option label="3500 它边" value="3500">3500 它边<option label="4000 它边" value="4000">4000 它边<option label="5000 它边" value="5000">5000 它边<option label="6000 它边" value="6000">6000 它边<option label="7000 它边" value="7000">7000 它边<option label="8000 它边" value="8000">8000 它边<option label="9000 它边" value="9000">9000 它边<option label="10000 它边" value="10000">10000 它边<option label="15000 它边" value="15000">15000 它边<option label="20000 它边" value="20000">20000 它边
</select>
から<br />
<select name="mansion_price_2">
    <option label="500 它边" value="500">500 它边<option label="1000 它边" value="1000">1000 它边<option label="1500 它边" value="1500">1500 它边<option label="2000 它边" value="2000">2000 它边<option label="2500 它边" value="2500">2500 它边<option label="3000 它边" value="3000">3000 它边<option label="3500 它边" value="3500">3500 它边<option label="4000 它边" value="4000">4000 它边<option label="5000 它边" value="5000">5000 它边<option label="6000 它边" value="6000">6000 它边<option label="7000 它边" value="7000">7000 它边<option label="8000 它边" value="8000">8000 它边<option label="9000 它边" value="9000">9000 它边<option label="10000 它边" value="10000">10000 它边<option label="15000 它边" value="15000">15000 它边<option label="20000 它边" value="20000">20000 它边<option label="惧嘎なし" value="0" selected="selected">惧嘎なし
</select>
まで<br />
烫姥: <br />
<select name="mansion_square_1">
    <option label="布嘎なし" value="0" selected="selected">布嘎なし<option label="10 士势" value="10">10 士势<option label="15 士势" value="15">15 士势<option label="20 士势" value="20">20 士势<option label="25 士势" value="25">25 士势<option label="30 士势" value="30">30 士势<option label="35 士势" value="35">35 士势<option label="40 士势" value="40">40 士势<option label="50 士势" value="50">50 士势<option label="60 士势" value="60">60 士势<option label="70 士势" value="70">70 士势<option label="80 士势" value="80">80 士势<option label="90 士势" value="90">90 士势<option label="100 士势" value="100">100 士势<option label="200 士势" value="200">200 士势<option label="300 士势" value="300">300 士势<option label="400 士势" value="400">400 士势<option label="500 士势" value="500">500 士势<option label="600 士势" value="600">600 士势<option label="700 士势" value="700">700 士势<option label="800 士势" value="800">800 士势<option label="900 士势" value="900">900 士势<option label="1000 士势" value="1000">1000 士势
</select>
から<br />
<select name="mansion_square_2">
    <option label="10 士势" value="10">10 士势<option label="15 士势" value="15">15 士势<option label="20 士势" value="20">20 士势<option label="25 士势" value="25">25 士势<option label="30 士势" value="30">30 士势<option label="35 士势" value="35">35 士势<option label="40 士势" value="40">40 士势<option label="50 士势" value="50">50 士势<option label="60 士势" value="60">60 士势<option label="70 士势" value="70">70 士势<option label="80 士势" value="80">80 士势<option label="90 士势" value="90">90 士势<option label="100 士势" value="100">100 士势<option label="200 士势" value="200">200 士势<option label="300 士势" value="300">300 士势<option label="400 士势" value="400">400 士势<option label="500 士势" value="500">500 士势<option label="600 士势" value="600">600 士势<option label="700 士势" value="700">700 士势<option label="800 士势" value="800">800 士势<option label="900 士势" value="900">900 士势<option label="1000 士势" value="1000">1000 士势<option label="惧嘎なし" value="0" selected="selected">惧嘎なし
</select>
まで<br />
粗艰り: <br />
<input type="checkbox" name="mansion_madori" value="1R" id="1R" />ワンル〖ム<br />
<input type="checkbox" name="mansion_madori" value="1K" id="1K" />1K<br />
<input type="checkbox" name="mansion_madori" value="1DK" id="1DK" />1DK<br />
<input type="checkbox" name="mansion_madori" value="1LDK" id="1LDK" />1LDK<br />
<input type="checkbox" name="mansion_madori" value="2K" id="2K" />2K<br />
<input type="checkbox" name="mansion_madori" value="2DK" id="2DK" />2DK<br />
<input type="checkbox" name="mansion_madori" value="2LDK" id="2LDK" />2LDK<br />
<input type="checkbox" name="mansion_madori" value="3K" id="3K" />3K<br />
<input type="checkbox" name="mansion_madori" value="3DK" id="3DK" />3DK<br />
<input type="checkbox" name="mansion_madori" value="3LDK" id="3LDK" />3LDK<br />
<input type="checkbox" name="mansion_madori" value="4K" id="4K" />4K<br />
<input type="checkbox" name="mansion_madori" value="4DK" id="4DK" />4DK<br />
<input type="checkbox" name="mansion_madori" value="4LDK+" id="4LDK" />4LDK笆惧<br />

蜜钳眶: <br />
<select name="mansion_age">
    <option label="回年なし" value="0">回年なし
    <option label="1钳笆柒" value="1">1钳笆柒
    <option label="3钳笆柒" value="3">3钳笆柒
    <option label="5钳笆柒" value="5">5钳笆柒
    <option label="10钳笆柒" value="10">10钳笆柒
    <option label="15钳笆柒" value="15">15钳笆柒
    <option label="20钳笆柒" value="20">20钳笆柒
</select>
<br />
必盘殊尸: <br />
<select name="mansion_walk_minutes">
    <option label="回年なし" value="0">回年なし
    <option label="1尸笆柒" value="1">1尸笆柒
    <option label="5尸笆柒" value="5">5尸笆柒
    <option label="7尸笆柒" value="7">7尸笆柒
    <option label="10尸笆柒" value="10">10尸笆柒
    <option label="15尸笆柒" value="15">15尸笆柒
    <option label="20尸笆柒" value="20">20尸笆柒
</select>
<br />
茶咙: <br />
<input type="checkbox" name="mansion_has_" value="1" />粗艰り哭あり<br />
<input type="checkbox" name="mansion_has_" value="2" />茶咙あり<br />


拒嘿掘凤: <br />
疤弥<br />
<input name="mansion_options_ikkai" value="on" type="checkbox">1超<br />
<input name="mansion_options_nikaiijyou" value="on" type="checkbox">2超笆惧<br />
<input name="mansion_options_saijyoukai" value="on" type="checkbox">呵惧超<br />
<input name="mansion_options_kakubeya" value="on" type="checkbox">逞婶舶<br />

肋洒<br />
<input name="mansion_options_autolock" value="on" type="checkbox">オ〖トロック<br />
<input name="mansion_options_elevator" value="on" type="checkbox">エレベ〖タ<br />
<input name="mansion_options_tvphone" value="on" type="checkbox">TVドアフォン<br />
<input name="mansion_options_system_kitchin" value="on" type="checkbox">システムキッチン<br />
<input name="mansion_options_parking_byke" value="on" type="checkbox">バイク弥き眷铜<br />
<input name="mansion_options_showertoilete" value="on" type="checkbox">シャワ〖トイレ<br />
<input name="mansion_options_yukadanbou" value="on" type="checkbox">静萌思<br />
<input name="mansion_options_senyouniwa" value="on" type="checkbox">漓脱捻<br />
<input name="mansion_options_parking_jitensya" value="on" type="checkbox">皿呜眷铜<br />
<input name="mansion_options_barukoni" value="on" type="checkbox">バルコニ〖<br />
<input name="mansion_options_bariafuri" value="on" type="checkbox">バリアフリ〖<br />
<input name="mansion_options_tosigasu" value="on" type="checkbox">旁辉ガス<br />
<input name="mansion_options_parking" value="on" type="checkbox">皿贾眷铜<br />
<input name="mansion_options_walkin_closet" value="on" type="checkbox">ウォ〖クイン クロ〖ゼット<br />
<input name="mansion_options_yukasita_syuunou" value="on" type="checkbox">静布箭羌<br />
<input name="mansion_options_pet" value="on" type="checkbox">ペット陵锰<br />

<br />

<input type="hidden" name="sort_by" value=""  />
<input type="hidden" name="_mode" value="mode_search"  />
<input type="hidden" name="_type" value="bm"  />
<input type="submit" name="search_object" value="浮瑚する" class="submit" />

</form>

<TMPL_INCLUDE NAME="mob_footer.tmpl">