<TMPL_INCLUDE NAME="mob_header.tmpl">

<TMPL_VAR NAME="page_data" ESCAPE='0'>

<!-- モバイル浮瑚茶烫 卿倾办竿氟て浮瑚茶烫 -->

<form method="get" action="<TMPL_VAR NAME="script_name" ESCAPE='0'>">

交疥: <br />
<input type="text" name="house_address" maxlength="250" /><br />
呵大り必: <br />
<input type="text" name="house_station" maxlength="250" /><br />
擦呈: <br />

<select name="house_price_1">
    <option label="布嘎なし" value="0" selected="selected">布嘎なし<option label="500 它边" value="500">500 它边<option label="1000 它边" value="1000">1000 它边<option label="1500 它边" value="1500">1500 它边<option label="2000 它边" value="2000">2000 它边<option label="2500 它边" value="2500">2500 它边<option label="3000 它边" value="3000">3000 它边<option label="3500 它边" value="3500">3500 它边<option label="4000 它边" value="4000">4000 它边<option label="5000 它边" value="5000">5000 它边<option label="6000 它边" value="6000">6000 它边<option label="7000 它边" value="7000">7000 它边<option label="8000 它边" value="8000">8000 它边<option label="9000 它边" value="9000">9000 它边<option label="10000 它边" value="10000">10000 它边<option label="15000 它边" value="15000">15000 它边<option label="20000 它边" value="20000">20000 它边
</select>
から<br />
<select name="house_price_2">
    <option label="500 它边" value="500">500 它边<option label="1000 它边" value="1000">1000 它边<option label="1500 它边" value="1500">1500 它边<option label="2000 它边" value="2000">2000 它边<option label="2500 它边" value="2500">2500 它边<option label="3000 它边" value="3000">3000 它边<option label="3500 它边" value="3500">3500 它边<option label="4000 它边" value="4000">4000 它边<option label="5000 它边" value="5000">5000 它边<option label="6000 它边" value="6000">6000 它边<option label="7000 它边" value="7000">7000 它边<option label="8000 它边" value="8000">8000 它边<option label="9000 它边" value="9000">9000 它边<option label="10000 它边" value="10000">10000 它边<option label="15000 它边" value="15000">15000 它边<option label="20000 它边" value="20000">20000 它边<option label="惧嘎なし" value="0" selected="selected">惧嘎なし
</select>
まで
<br />
烫姥: <br />
<select name="house_square_1">
    <option label="布嘎なし" value="0" selected="selected">布嘎なし<option label="50 士势" value="50">50 士势<option label="100 士势" value="100">100 士势<option label="150 士势" value="150">150 士势<option label="200 士势" value="200">200 士势<option label="300 士势" value="300">300 士势<option label="400 士势" value="400">400 士势<option label="500 士势" value="500">500 士势<option label="600 士势" value="600">600 士势<option label="700 士势" value="700">700 士势<option label="800 士势" value="800">800 士势<option label="1000 士势" value="1000">1000 士势
</select>
から<br />
<select name="house_square_2">
    <option label="50 士势" value="50">50 士势<option label="100 士势" value="100">100 士势<option label="150 士势" value="150">150 士势<option label="200 士势" value="200">200 士势<option label="300 士势" value="300">300 士势<option label="400 士势" value="400">400 士势<option label="500 士势" value="500">500 士势<option label="600 士势" value="600">600 士势<option label="700 士势" value="700">700 士势<option label="800 士势" value="800">800 士势<option label="1000 士势" value="1000">1000 士势<option label="惧嘎なし" value="0" selected="selected">惧嘎なし
</select>
まで<br />
蜜钳眶: <br />
<select name="house_age">
	<option label="回年なし" value="0">回年なし
	<option label="办钳" value="1">办钳
	<option label="3钳笆柒" value="3">3钳笆柒
	<option label="5钳笆柒" value="5">5钳笆柒
	<option label="10钳笆柒" value="10">10钳笆柒
	<option label="15钳笆柒" value="15">15钳笆柒
	<option label="20钳笆柒" value="20">20钳笆柒
</select>
<br />
<input name="house_options_sintiku" value="on" type="checkbox">糠蜜<br />
必盘殊尸<br />

<select name="house_walk_minutes">
    <option label="回年なし" value="0">回年なし
    <option label="1尸笆柒" value="1">1尸笆柒
    <option label="5尸笆柒" value="5">5尸笆柒
    <option label="7尸笆柒" value="7">7尸笆柒
    <option label="10尸笆柒" value="10">10尸笆柒
    <option label="15尸笆柒" value="15">15尸笆柒
    <option label="20尸笆柒" value="20">20尸笆柒
</select>
<br />
茶咙: <br />

<input name="house_has_" value="1" type="checkbox">粗艰り哭あり<br />
<input type="checkbox" name="house_has_" value="2" />茶咙あり<br />

拒嘿掘凤: <br />
肋洒<br />
<input name="house_options_system_kitchin" value="on" type="checkbox">システムキッチン<br />
<input name="house_options_showertoilete" value="on" type="checkbox">シャワ〖トイレ<br />
<input name="house_options_walkin_closet" value="on" type="checkbox">ウォ〖クイン クロ〖ゼット<br />
<input name="house_options_yukadanbou" value="on" type="checkbox">静萌思<br />
<input name="house_options_tvphone" value="on" type="checkbox">TVフォン<br />
<input name="house_options_tosigasu" value="on" type="checkbox">旁辉ガス<br />
<input name="house_options_bariafuri" value="on" type="checkbox">バリアフリ〖<br />
<input name="house_options_parking" value="on" type="checkbox">皿贾眷あり<br />
<input name="house_options_yukasita_syuunou" value="on" type="checkbox">静布箭羌<br />
<br />
<input type="hidden" name="sort_by" value=""  />
<input type="hidden" name="_mode" value="mode_search"  />
<input type="hidden" name="_type" value="bh"  />
<input type="submit" name="search_object" value="浮瑚する" class="submit" />

</form>

<TMPL_INCLUDE NAME="mob_footer.tmpl">