<div id="sidebar">
    <div id="side_menu">
        <table border="0" width="180" class="menu">
            <tr>
                <td>
                    <a href="<TMPL_VAR NAME='cgi_url' ESCAPE='0'>search.cgi?_mode=mode_search&amp;_type=bh">ÇäÇã°ì¸Í·ú¤ÆÊª·ï¸¡º÷</a>&nbsp;&nbsp;

                </td>
            </tr>
        </table>
    </div>

    <div style="clear:left;" >&nbsp;</div>
</div>