
    <div style="clear:both">&nbsp;</div>
    <!-- フッター -->
    <div id="footer">
        <p>
            <a href="<TMPL_VAR NAME='site_url' ESCAPE='0'>index.html">ホーム</a> | <a href="<TMPL_VAR NAME='site_url' ESCAPE='0'>">会社案内</a> | <a href="<TMPL_VAR NAME='cgi_url' ESCAPE='0'>site.cgi?_mode=mode_inquiry">お問い合わせ</a><br />
            
            <!-- 下記コピーライト表記は削除可です。 -->
            <a href="http://www.witha.jp/">Witha System Ltd</a> - <a href="http://www.witha.jp/reps/">REPS</a> - RealEstate Publishing System

        </p>
    </div>

</div>

</body>
</html>