<div id="sidebar">
    <div id="side_menu">
        <table border="0" width="180" class="menu">
            <tr>
                <td>
                    <a href="<TMPL_VAR NAME='cgi_url' ESCAPE='0'>search.cgi?_mode=mode_search&amp;_type=rl">½»µïÍÑÄÂÂßÊª·ï¸¡º÷</a>&nbsp;&nbsp;
                    <ul style="margin:1px;line-height:150%;">
                        <li><a href="<TMPL_VAR NAME='cgi_url' ESCAPE='0'>search.cgi?apart_madori=1R&amp;apart_madori=1K&amp;apart_madori=1DK&amp;apart_madori=1LDK&amp;_mode=mode_search&amp;_type=rl&amp;search_object=doSearch">¥ï¥ó¥ë¡¼¥à¡¦£±LDK</a>&nbsp;</li>
                        <li><a href="<TMPL_VAR NAME='cgi_url' ESCAPE='0'>search.cgi?apart_madori=2K&amp;apart_madori=2DK&amp;apart_madori=2LDK&amp;_mode=mode_search&amp;_type=rl&amp;search_object=doSearch">£²DK¡¦£²LDK</a>&nbsp;</li>

                        <li><a href="<TMPL_VAR NAME='cgi_url' ESCAPE='0'>search.cgi?apart_madori=3K&amp;apart_madori=3DK&amp;apart_madori=3LDK&amp;apart_madori=4K&amp;apart_madori=4DK&amp;apart_madori=4LDK%2B&amp;_mode=mode_search&amp;_type=rl&amp;search_object=doSearch">£³LDK¡¦£´DK</a>&nbsp;</li>
                        <li><a href="<TMPL_VAR NAME='cgi_url' ESCAPE='0'>search.cgi?apart_kind=3&amp;_mode=mode_search&amp;_type=rl&amp;search_object=doSearch">°ì¸Í·ú¤Æ¡¦Âß²È</a>&nbsp;</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="<TMPL_VAR NAME='cgi_url' ESCAPE='0'>search.cgi?_mode=mode_search&amp;_type=rb">»ö¶ÈÍÑÄÂÂßÊª·ï¸¡º÷</a>&nbsp;&nbsp;

                </td>
            </tr>
        </table>
    </div>


    <div style="clear:left;" >&nbsp;</div>
</div>