<div id="sidebar">
    <div id="side_menu">
        <table border="0" width="180" class="menu">
            <tr>
                <td>
                    <a href="<TMPL_VAR NAME='cgi_url' ESCAPE='0'>search.cgi?_mode=mode_search&amp;_type=bl">土地検索</a>&nbsp;&nbsp;

                </td>
            </tr>
            <tr>
                <td>
                    <a href="<TMPL_VAR NAME='cgi_url' ESCAPE='0'>search.cgi?_mode=mode_search&amp;_type=bl">マンション検索</a>&nbsp;&nbsp;

                </td>
            </tr>
            <tr>
                <td>
                    <a href="<TMPL_VAR NAME='cgi_url' ESCAPE='0'>search.cgi?_mode=mode_search&amp;_type=bl">一戸建て検索</a>&nbsp;&nbsp;

                </td>
            </tr>
        </table>
    </div>

    <div style="clear:left;" >&nbsp;</div>
</div>