</div>
<div id="footer">
    <a href="http://www.witha.jp/reps/">REPS <TMPL_VAR NAME="script_version" ESCAPE='0'></a> :: "The Real Estate Publishing System"
    - Copyright &copy; Witha System ,.Ltd. All Rights Reserved.
</div>

    </body>
</html>
 
