<TMPL_INCLUDE NAME="header.tmpl">

<br />

<TMPL_VAR NAME="page_data" ESCAPE='0'>

<br />
<br />
<script type="text/javascript">
    <!-- 
    if (document.lg){
        document.lg.lg_name.focus(); 
    }
    // -->
</script>

<TMPL_INCLUDE NAME="footer.tmpl">
