<TMPL_INCLUDE NAME="header.tmpl">

<TMPL_VAR NAME="page_data" ESCAPE='0'>

<br />
<script type="text/javascript">
    <!-- 
    document.lg.lg_name.focus(); 
    // -->
</script>

<TMPL_INCLUDE NAME="footer.tmpl">
