<TMPL_INCLUDE NAME="header.tmpl">

<div style="clear:both;">&nbsp;</div>

<img src="<TMPL_VAR NAME="static_url" ESCAPE='0'>icons/24-em-check.png" width="24" height="24" align="bottom" border="0"  /><TMPL_VAR NAME="page_data" ESCAPE='0'>
<br />
<br />

<TMPL_INCLUDE NAME="footer.tmpl">
