<TMPL_INCLUDE NAME="header.tmpl">

<TMPL_INCLUDE NAME="menu.tmpl">
<div id="content">

<TMPL_VAR NAME="page_data" ESCAPE='0'>

<form method="get" action="<TMPL_VAR NAME="script_name" ESCAPE='0'>?_mode=mode_search&_type=rl" enctype="application/x-www-form-urlencoded" name="apart">

    <table class="main_table" border="1">
        <tr align="left">
            <th class="list" align="right">湿凤叹: </th>
            <td><input type="text" name="apart_name"  size="60" maxlength="250" /></td>
        </tr>
        <tr align="left">
            <th class="list" align="right">交疥: </th>
            <td><input type="text" name="apart_address"  size="60" maxlength="250" /></td>
        </tr>
        <tr align="left">
            <th class="list" align="right">夺钨池够: </th>
            <td><input type="text" name="apart_school"  size="60" maxlength="250" /></td>
        </tr>
        <tr align="left">
            <th class="list" align="right">呵大り必: </th>
            <td><input type="text" name="apart_station"  size="60" maxlength="250" /></td>
        </tr>
        <tr>
            <th class="list" align="right">湿凤硷侍: </th>
            <td>
                &nbsp;<label><input type="checkbox" name="apart_kind" value="1" id="ak1" />アパ〖ト</label>&nbsp;&nbsp;
                <label><input type="checkbox" name="apart_kind" value="2" id="ak2" />マンション</label>&nbsp;&nbsp;
                <label><input type="checkbox" name="apart_kind" value="3" id="ak3" />办竿氟て</label>&nbsp;&nbsp;
                <label><input type="checkbox" name="apart_kind" value="4" id="ak4" />テラスハウス</label>&nbsp;&nbsp;
            </td>
        </tr>

        <tr>
            <th class="list" align="right">穆瘟: </th>
            <td>
                &nbsp;<select name="apart_price_1">
                    <option label="布嘎なし" value="0" selected="selected">布嘎なし</option>
                    <option label="3.0 它边" value="3.0">3.0 它边</option>
    
                    <option label="3.5 它边" value="3.5">3.5 它边</option>
                    <option label="4.0 它边" value="4.0">4.0 它边</option>
                    <option label="4.5 它边" value="4.5">4.5 它边</option>
                    <option label="5.0 它边" value="5.0">5.0 它边</option>
                    
                    <option label="5.5 它边" value="5.5">5.5 它边</option>
                    <option label="6.0 它边" value="6.0">6.0 它边</option>
    
                    <option label="6.5 它边" value="6.5">6.5 它边</option>
                    <option label="7.0 它边" value="7.0">7.0 它边</option>
                    <option label="7.5 它边" value="7.5">7.5 它边</option>
                    <option label="8.0 它边" value="8.0">8.0 它边</option>
                    <option label="8.5 它边" value="8.5">8.5 它边</option>
                    <option label="9.0 它边" value="9.0">9.0 它边</option>
    
                    <option label="9.5 它边" value="9.5">9.5 它边</option>
                    
                    <option label="10 它边" value="10">10 它边</option>
                    <option label="11 它边" value="11">11 它边</option>
                    <option label="12 它边" value="12">12 它边</option>
                    <option label="13 它边" value="13">13 它边</option>
                    <option label="14 它边" value="14">14 它边</option>
    
                    <option label="15 它边" value="15">15 它边</option>
                    <option label="16 它边" value="16">16 它边</option>
                    <option label="17 它边" value="17">17 它边</option>
                    <option label="18 它边" value="18">18 它边</option>
                    
                    <option label="19 它边" value="19">19 它边</option>
                    <option label="20 它边" value="20">20 它边</option>
    
                    <option label="30 它边" value="30">30 它边</option>
                    <option label="50 它边" value="50">50 它边</option>
                    <option label="100 它边" value="100">100 它边</option>
                </select>
    ×
                <select name="apart_price_2">
                    <option label="3.0 它边" value="3.0">3.0 它边</option>
    
                
                    <option label="3.5 它边" value="3.5">3.5 它边</option>
                    <option label="4.0 它边" value="4.0">4.0 它边</option>
                    <option label="4.5 它边" value="4.5">4.5 它边</option>
                    <option label="5.0 它边" value="5.0">5.0 它边</option>
                    <option label="5.5 它边" value="5.5">5.5 它边</option>
                    <option label="6.0 它边" value="6.0">6.0 它边</option>
    
                    <option label="6.5 它边" value="6.5">6.5 它边</option>
                    <option label="7.0 它边" value="7.0">7.0 它边</option>
                    <option label="7.5 它边" value="7.5">7.5 它边</option>
                    
                    <option label="8.0 它边" value="8.0">8.0 它边</option>
                    <option label="8.5 它边" value="8.5">8.5 它边</option>
                    <option label="9.0 它边" value="9.0">9.0 它边</option>
    
                    <option label="9.5 它边" value="9.5">9.5 它边</option>
                    <option label="10 它边" value="10">10 它边</option>
                    <option label="11 它边" value="11">11 它边</option>
                    <option label="12 它边" value="12">12 它边</option>
                    <option label="13 它边" value="13">13 它边</option>
                    <option label="14 它边" value="14">14 它边</option>
    
                    
                    <option label="15 它边" value="15">15 它边</option>
                    <option label="16 它边" value="16">16 它边</option>
                    <option label="17 它边" value="17">17 它边</option>
                    <option label="18 它边" value="18">18 它边</option>
                    <option label="19 它边" value="19">19 它边</option>
                    <option label="20 它边" value="20">20 它边</option>
    
                    <option label="30 它边" value="30">30 它边</option>
                    <option label="50 它边" value="50">50 它边</option>
                    <option label="100 它边" value="100">100 它边</option>
                    
                    <option label="惧嘎なし" value="0" selected="selected">惧嘎なし</option>
                
                </select>
                <br />
                &nbsp;<label><input type="checkbox" name="include_k_k" value="1" id="include_k_k" />鼎弊锐】瓷妄锐を崔む</label>
    
            &nbsp;
                <label><input type="checkbox" name="apart_no_reikin" value="1" id="apart_no_reikin" />伍垛なし</label>&nbsp;&nbsp;
                <label><input type="checkbox" name="apart_no_sikikin" value="1" id="apart_no_sikikin" />蛇垛なし</label>
            </td>
    
        </tr>
        <tr>
            <th class="list" align="right">烫姥: </th>
    
            <td>
                &nbsp;<select name="apart_square_1">
                    <option label="布嘎なし" value="0" selected="selected">布嘎なし</option>
                    <option label="10 m&sup2;" value="10">10 m&sup2;</option>
                    <option label="15 m&sup2;" value="15">15 m&sup2;</option>
                    <option label="20 m&sup2;" value="20">20 m&sup2;</option>
                    
                    <option label="25 m&sup2;" value="25">25 m&sup2;</option>
    
                    <option label="30 m&sup2;" value="30">30 m&sup2;</option>
                    <option label="35 m&sup2;" value="35">35 m&sup2;</option>
                    <option label="40 m&sup2;" value="40">40 m&sup2;</option>
                    <option label="50 m&sup2;" value="50">50 m&sup2;</option>
                    <option label="60 m&sup2;" value="60">60 m&sup2;</option>
                    <option label="70 m&sup2;" value="70">70 m&sup2;</option>
    
                    <option label="80 m&sup2;" value="80">80 m&sup2;</option>
                    <option label="90 m&sup2;" value="90">90 m&sup2;</option>
                    
                    <option label="100 m&sup2;" value="100">100 m&sup2;</option>
                    <option label="200 m&sup2;" value="200">200 m&sup2;</option>
                    <option label="300 m&sup2;" value="300">300 m&sup2;</option>
                    <option label="400 m&sup2;" value="400">400 m&sup2;</option>
    
                    <option label="500 m&sup2;" value="500">500 m&sup2;</option>
                    <option label="600 m&sup2;" value="600">600 m&sup2;</option>
                    <option label="700 m&sup2;" value="700">700 m&sup2;</option>
                    <option label="800 m&sup2;" value="800">800 m&sup2;</option>
                    <option label="900 m&sup2;" value="900">900 m&sup2;</option>
                    
                    <option label="1000 m&sup2;" value="1000">1000 m&sup2;</option>
    
                </select>
    ×
                <select name="apart_square_2">
                    <option label="10 m&sup2;" value="10">10 m&sup2;</option>
                    <option label="15 m&sup2;" value="15">15 m&sup2;</option>
                    <option label="20 m&sup2;" value="20">20 m&sup2;</option>
                    <option label="25 m&sup2;" value="25">25 m&sup2;</option>
    
                    
                    <option label="30 m&sup2;" value="30">30 m&sup2;</option>
                    <option label="35 m&sup2;" value="35">35 m&sup2;</option>
                    <option label="40 m&sup2;" value="40">40 m&sup2;</option>
                    <option label="50 m&sup2;" value="50">50 m&sup2;</option>
                    <option label="60 m&sup2;" value="60">60 m&sup2;</option>
                    <option label="70 m&sup2;" value="70">70 m&sup2;</option>
    
                    <option label="80 m&sup2;" value="80">80 m&sup2;</option>
                    <option label="90 m&sup2;" value="90">90 m&sup2;</option>
                    <option label="100 m&sup2;" value="100">100 m&sup2;</option>
                    
                    <option label="200 m&sup2;" value="200">200 m&sup2;</option>
                    <option label="300 m&sup2;" value="300">300 m&sup2;</option>
                    <option label="400 m&sup2;" value="400">400 m&sup2;</option>
    
                    <option label="500 m&sup2;" value="500">500 m&sup2;</option>
                    <option label="600 m&sup2;" value="600">600 m&sup2;</option>
                    <option label="700 m&sup2;" value="700">700 m&sup2;</option>
                    <option label="800 m&sup2;" value="800">800 m&sup2;</option>
                    <option label="900 m&sup2;" value="900">900 m&sup2;</option>
                    <option label="1000 m&sup2;" value="1000">1000 m&sup2;</option>
    
                    
                    <option label="惧嘎なし" value="0" selected="selected">惧嘎なし</option>
        
                </select>
    &nbsp;&nbsp;ⅷ≈m&sup2;∽は≈士势∽と票じです
            </td>
        </tr>
        <tr>
            <th class="list" align="right">粗艰り: </th>
            <td>
                <table border="0" cellpadding="1" cellspacing="2" class="List">
                <tr>
                    <td width="90">
                        <label><input type="checkbox" name="apart_madori" value="1R" id="1R" />ワンル〖ム</label>
                    </td><td width="90">
                        <label><input type="checkbox" name="apart_madori" value="1K" id="1K" />1K</label>
                    </td><td width="90">
                        <label><input type="checkbox" name="apart_madori" value="1DK" id="1DK" />1DK</label>
                    </td><td width="90">
                        <label><input type="checkbox" name="apart_madori" value="1LDK" id="1LDK" />1LDK</label>
                    </td>
                    
                </tr>
                <tr>
                    <td width="90">
                        <label><input type="checkbox" name="apart_madori" value="2K" id="2K" />2K</label>
                    </td><td width="90">
                        <label><input type="checkbox" name="apart_madori" value="2DK" id="2DK" />2DK</label>
                    </td><td width="90">
                        <label><input type="checkbox" name="apart_madori" value="2LDK" id="2LDK" />2LDK</label>
                    </td><td></td>
                </tr>
                <tr>
                    <td>
                        <label><input type="checkbox" name="apart_madori" value="3K" id="3K" />3K</label>
                    </td><td>
                        <label><input type="checkbox" name="apart_madori" value="3DK" id="3DK" />3DK</label>
                    </td><td>
                        <label><input type="checkbox" name="apart_madori" value="3LDK" id="3LDK" />3LDK</label>
                    </td><td></td>
                <tr>
                    <td>
                        <label><input type="checkbox" name="apart_madori" value="4K" id="4K" />4K</label>
                    </td><td>
                        <label><input type="checkbox" name="apart_madori" value="4DK" id="4DK" />4DK</label>
                    </td><td>
                        <label><input type="checkbox" name="apart_madori" value="4LDK+" id="4LDK" />4LDK笆惧</label>
                    </td><td></td>
                </tr>
    
                </table>




            </td>
        </tr>
        <tr>
            <th class="list" align="right">蜜钳眶: </th>
            <td>&nbsp;<select name="apart_age">
<option label="回年なし" value="0">回年なし</option>
<option label="糠蜜" value="1">糠蜜</option>
<option label="3钳笆柒" value="3">3钳笆柒</option>
<option label="5钳笆柒" value="5">5钳笆柒</option>
<option label="10钳笆柒" value="10">10钳笆柒</option>
<option label="15钳笆柒" value="15">15钳笆柒</option>
<option label="20钳笆柒" value="20">20钳笆柒</option>
</select>


            </td>
    
        </tr>
        <tr>
    
            <th class="list" align="right">必盘殊尸: </th>
            <td>&nbsp;<select name="apart_walk_minutes">
<option label="回年なし" value="0">回年なし</option>
<option label="1尸笆柒" value="1">1尸笆柒</option>
<option label="5尸笆柒" value="5">5尸笆柒</option>
<option label="7尸笆柒" value="7">7尸笆柒</option>
<option label="10尸笆柒" value="10">10尸笆柒</option>
<option label="15尸笆柒" value="15">15尸笆柒</option>
<option label="20尸笆柒" value="20">20尸笆柒</option>
</select>

            </td>
        </tr>
        <tr>
            <th class="list" align="right">茶咙: </th>
            <td>
                &nbsp;<label><input type="checkbox" name="apart_has_" value="1" />粗艰り哭あり</label>&nbsp;&nbsp;
                <label><input type="checkbox" name="apart_has_" value="2" />茶咙あり</label>&nbsp;&nbsp;
                <label><input type="checkbox" name="apart_has_" value="3" />瓢茶あり</label>
            </td>
            
        </tr>
        <tr>
    
            <th class="list" align="right">拒嘿掘凤: </th>
            <td>
                <table border="0" cellpadding="1" cellspacing="1" class="List">
<tbody>
<tr>
    <th class="list" rowspan="2" valign="top">疤弥</th>
    <td><label><input name="apart_options_ikkai" value="on" type="checkbox">1超</label></td>
    <td><label><input name="apart_options_nikaiijyou" value="on" type="checkbox">2超笆惧</label></td>
    <td><label><input name="apart_options_saijyoukai" value="on" type="checkbox">呵惧超</label></td>
    <td><label><input name="apart_options_kakubeya" value="on" type="checkbox">逞婶舶</label></td>
</tr>
<tr>
    <td><label><input name="apart_options_minami" value="on" type="checkbox">祁羹き</label></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <th class="list" rowspan="4" valign="top">肋洒</th>
    <td><label><input name="apart_options_autolock" value="on" type="checkbox">オ〖トロック</label></td>
    <td><label><input name="apart_options_elevator" value="on" type="checkbox">エレベ〖タ</label></td>
    <td><label><input name="apart_options_tvphone" value="on" type="checkbox">TVドアフォン</label></td>
    <td><label><input name="apart_options_bathtoilet" value="on" type="checkbox">バスˇトイレ侍</label></td>

</tr>
<tr>
    <td><label><input name="apart_options_aircon" value="on" type="checkbox">エアコン</label></td>
    <td><label><input name="apart_options_loft" value="on" type="checkbox">ロフト烧き</label></td>
    <td><label><input name="apart_options_flooring" value="on" type="checkbox">フロ〖リング</label></td>
    <td><label><input name="apart_options_oitaki" value="on" type="checkbox">纳い什き</label></td>
</tr>
<tr>
    <td><label><input name="apart_options_gasconro" value="on" type="checkbox">ガスコンロ</label></td>
    <td><label><input name="apart_options_situnaisentakuki" value="on" type="checkbox">技柒丽迈怠弥眷</label></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><label><input name="apart_options_bs" value="on" type="checkbox">BSアンテナ</label></td>
    <td><label><input name="apart_options_cs" value="on" type="checkbox">CSアンテナ</label></td>
    <td><label><input name="apart_options_catv" value="on" type="checkbox">CATV</label></td>
    <td><label><input name="apart_options_internet" value="on" type="checkbox">インタ〖ネット网脱材</label></td>
</tr>
<tr>
    <th class="list" rowspan="2" valign="top">戮</th>
    <td><label><input name="apart_options_parking" value="on" type="checkbox">皿贾眷铜</label></td>
    <td><label><input name="apart_options_bicycle" value="on" type="checkbox">皿呜眷铜</label></td>
    <td><label><input name="apart_options_pet" value="on" type="checkbox">ペット陵锰</label></td>
    <td><label><input name="apart_options_instrument" value="on" type="checkbox">弛达陵锰</label></td>
</tr>
<tr>
    <td><label><input name="apart_options_jimusyoka" value="on" type="checkbox">祸坛疥材</label></td>
    <td><label><input name="apart_options_hosyounin" value="on" type="checkbox">瘦沮客稍妥铜</label></td>
    <td></td>
    <td></td>
</tr>

</tbody>

                </table>


            </td>

        </tr>
        <tr align="left">
            <th class="list" align="right">故りこみ: </th>
            <td>
                <table border="0" cellpadding="1" cellspacing="1" class="List">
                    <tr>
                        <th class="list" rowspan="2" valign="top">觉轮</th>
                        <td>
                &nbsp;<label><input type="radio" name="apart_public" value="0" checked="checked" />回年なし</label>&nbsp;&nbsp;
                        </td>
                        <td>
                &nbsp;<label><input type="radio" name="apart_public" value="1" />给倡湿凤</label>&nbsp;&nbsp;
                        </td>
                        <td>
                &nbsp;<label><input type="radio" name="apart_public" value="2" />润给倡湿凤</label>&nbsp;&nbsp;
                        </td>
                    </tr>
                    <tr>
                        
                        <td>
                &nbsp;<label><input type="radio" name="apart_recommend" value="0" checked="checked" />回年なし</label>&nbsp;&nbsp;
                        </td>
                        <td>
                &nbsp;<label><input type="radio" name="apart_recommend" value="1" />お力め湿凤</label>&nbsp;&nbsp;
                        </td>
                        <td>
                &nbsp;<label><input type="radio" name="apart_recommend" value="2" />润お力め湿凤</label>&nbsp;&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <th class="list">瓷妄</th>
                        <td>
                &nbsp;<label><input type="radio" name="apart_jisyakannri" value="0" checked="checked" />回年なし</label>&nbsp;&nbsp;
                        </td>
                        <td>
                &nbsp;<label><input type="radio" name="apart_jisyakannri" value="1" />极家瓷妄湿凤</label>&nbsp;&nbsp;
                        </td>
                        <td>
                &nbsp;<label><input type="radio" name="apart_jisyakannri" value="2" />戮家瓷妄湿凤</label>&nbsp;&nbsp;
                        </td>
                    </tr>
<TMPL_IF NAME="INDEPENDENT_USER">
<TMPL_ELSE>
                    <tr>
                        <th class="list">判峡</th>
                        <td>
                &nbsp;<label><input type="radio" name="apart_jisyatouroku" value="0" checked="checked" />回年なし</label>&nbsp;&nbsp;
                        </td>
                        <td>
                &nbsp;<label><input type="radio" name="apart_jisyatouroku" value="1" />极尸が判峡した湿凤</label>&nbsp;&nbsp;
                        </td>
                        <td>
                &nbsp;<label><input type="radio" name="apart_jisyatouroku" value="2" />极尸笆嘲が判峡した湿凤</label>&nbsp;&nbsp;
                        </td>
                    </tr>
</TMPL_IF>

                </table>
            </td>
        </tr>
        <tr align="left">
            <th class="list" align="right">湿凤戎规: </th>
            <td><input type="text" name="_object_id" size="10" maxlength="250" /></td>
        </tr>
        <tr align="center">
            <td colspan="2"><br />
                <input type="hidden" name="sort_by" value=""  />
                <input type="hidden" name="off_set" value="0"  />
                <input type="hidden" name="_mode" value="mode_search"  />
                <input type="hidden" name="_type" value="rl"  />
                <input type="submit" name="search_object" value="湿凤浮瑚" class="submit" />
            </td>
    
        </tr>

    </table>

</form>
<script type="text/javascript"><!-- 
document.apart.apart_name.focus(); 
// --></script>
</div>

<TMPL_INCLUDE NAME="footer.tmpl">
